<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107069302242-jcvddehcuprc88ab0lcb0admb52tmqko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107069302242-jcvddehcuprc88ab0lcb0admb52tmqko</string>
	<key>API_KEY</key>
	<string>AIzaSyDEqO4SxNToPxNNx3wQD7RnMPuEr45wfHg</string>
	<key>GCM_SENDER_ID</key>
	<string>107069302242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wura.app</string>
	<key>PROJECT_ID</key>
	<string>wura-9b09b</string>
	<key>STORAGE_BUCKET</key>
	<string>wura-9b09b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107069302242:ios:599f75a81ccf8945ab05bb</string>
</dict>
</plist>